<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.11.36" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net48" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="93.0.4577.6300" targetFramework="net48" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net48" />
</packages>